

<div class="container">
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mynewpost">Add Task</button>
    </div>
  </div>
  <br>
  <hr>
  <div class="row" id="container_posts">
    <div class="container row">
      <%= render @tasks %>
    </div>
  </div>
  <!-- Modal -->
  <%= form_for(@task, remote: true) do |f| %>
    <div class="modal fade" id="mynewpost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="field">
              <%= f.label :title %>
              <%= f.text_area :title, class: "form-control task_title" %>
            </div>
            <div class="field">
              <%= f.label :content %>
              <%= f.text_area :content, class:"form-control task_content"%>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal" id="mynewpostclose">Close</button>
            <%= submit_tag "Create", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>